@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 130px;
  background-color: hsl(275, 100%, 97%);
  justify-items: center;
  font-family: "Lexend Deca", sans-serif;
  color: hsl(292, 42%, 14%);
}

h4 {
  position: relative;
  bottom: 2px;
}

h4:hover {
  color: hsl(292, 42%, 14%);
}

.faixa-bg {
  height: 250px;
  background: url("assets/images/background-pattern-desktop.svg") center/cover
    no-repeat;
  z-index: 1;
  width: 100vw;
  grid-row: 1;
}

#ajuste {
  position: relative;
  top: 10px;
}

.container {
  width: 500px;
  background-color: white;
  z-index: 2;
  grid-row: 2;
  border-radius: 13px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-bottom: 10px;
}

.container2 {
  display: grid;
  grid-template-columns: 425px 30px;
  grid-template-rows: auto auto;
  margin-bottom: 50px;
  gap: 10px;
}

.estrela {
  z-index: 2;
  position: relative;
  left: 10px;
  top: 10px;
  grid-row: 1;
  grid-column: 1;
  width: 40px;
}

.titulo {
  grid-row: 1;
  padding-top: 30px;
  padding-left: 20px;
}

#titulo {
  position: relative;
  left: 60px;
  bottom: 45px;
  font-size: 50px;
  grid-column: 1;
  grid-row: 1;
}

.descricao {
  grid-row: 2;
  grid-column: 1 / span 2;
  font-size: 14px;
  color: hsl(292, 16%, 49%);
}

#ct1 {
  grid-row: 2;
  padding-left: 20px;
}

#ct2 {
  grid-row: 3;
  padding-left: 20px;
}

#ct3 {
  grid-row: 4;
  padding-left: 20px;
}

#ct4 {
  grid-row: 5;
  padding-left: 20px;
}

.titulo2 {
  display: grid;
  cursor: pointer;
  height: 30px;
  width: 450px;
  border: solid transparent;
  border-radius: 10px;
  background-color: transparent;
  align-items: center;
  justify-items: start;
  grid-template-columns: 1fr 30px 10px;
  padding-inline: 5px;
}

.container2:hover {
  background-color: hsla(0, 0%, 82%, 0.171);
}

.mais {
  background-image: url("assets/images/icon-plus.svg");
}

.menos {
  background-image: url("assets/images/icon-minus.svg");
}

.icone {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.container2 .descricao {
  display: none;
  padding-left: 5px;
}
.container2.ativa .descricao {
  display: block;
}
